{% load static %}
<footer>
    <div class="footer-container">
          <div class="footer-section-follow">
              <p>Suivez nous</p>
              <div class="medias-footer">
                  <a href="#">
                    <img src="{% static 'img/facebook.svg' %}" alt="fb icon">
                  </a>
                  <a href="#">
                    <img src="{% static 'img/twitter.svg' %}" alt="twitter icon">
                  </a>
                  <a href="#">
                    <img src="{% static 'img/linkedin.svg' %}" alt="linkedin icon">
                  </a>
              </div>
          </div>
          <hr>
          <div class="descriptions-footer">
              <ul>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Qui sommes-nous?</a></li>
                  <li><a href="#">Téléchargez l'application</a></li>
              </ul>
          </div>
          <hr>
          <div class="copyright-footer">
              <p>© 2022 LITReviews, Inc.</p>
          </div>
    </div>
</footer>
