{% load static %}
<header>
    <nav class="navbar">
        <a class="logo-link" href="{% url 'home' %}">
            <img class="logo-litreview" alt="Logo litreview" src="{% static 'img/logo-litreview.png' %}" />
        </a>

        <div class="container-namelinks">
            <a href="{% url 'home' %}" class="text-homepage">LITReview</a>
            {% if user.is_authenticated %}
                <h3>| <a href="{% url 'password_change' %}">{{ user.username }}</a> |</h3>
            {% endif %}
        </div>

        {% include 'partials/navigation.html' %}
    </nav>
</header>
