{% load litreview_extras %}

<div class="flux-review">
    <div class="review-head">
        <div class="review-left">
            <p class="review-publisher ticket-review-title">
                {% get_poster_display review.user %} publié une critique
            </p>
            <p class="review-headline">
                {{ review.headline }} - <span class="rating"> {% rating_star_display review.rating %} </span>
            </p>
            <p>
                {{ review.body|linebreaks }}
            </p>
        </div>
        <div class="review-right">
            <p class="flux-date">{{ review.time_created|get_posted_at_display }}</p>
        </div>
    </div>

    <div class="flux-ticket">
        <p class="review-ticket-user">Ticket - {{ review.ticket.user }}</p>
        <p>{{ review.ticket.title }}</p>
        <p>{{ review.ticket.description|linebreaks }}</p>
        {% if review.ticket.image %}
            <img class="flux-ticket-img" src="{{ review.ticket.image.url }}" alt="Couverture - {{ review.ticket.title }}">
        {% endif %}
    </div>
    {% if request.resolver_match.url_name == "posts" %}
        <div class="posts-edit-delete">
            <div class="general-btn posts-edit-btn">
                <a role="button" class="posts-link-edit" href="{% url 'edit_review' review.id %}">
                    ✏️  Modifier
                </a>
            </div>
            <form class="subscriptions-button" action="{% url 'delete_review' review.id %}" method="POST">
            {% csrf_token %}
                <button class="general-btn posts-delete-btn" type="submit"
                        onclick="return confirm('Voulez-vous vraiment supprimer la critique de - {{ review.ticket.title }}? -');">
                    🗑️ Supprimer
                </button>
            </form>
        </div>
    {% endif %}

</div>
