{% load litreview_extras %}

    <div class="flux-ticket">
        <div class="ticket-head">
            <div class="ticket-left">
                {% if home_page %}
                    <p><strong>{% get_poster_display ticket.user %} demandé une critique</strong></p>
                {% endif %}
                <p>{{ ticket.title }}</p>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img class="flux-ticket-img" src="{{ ticket.image.url }}" alt="Couverture - {{ ticket.title }}">
                {% endif %}
            </div>
            <div class="ticket-right">
                <p class="flux-date">{{ ticket.time_created|get_posted_at_display }}</p>
                {% if home_page and not ticket.already_replied %}
                        <a class="general-btn reply-btn" href="{% url 'reply' ticket.id %}">Créer une critique</a>
                {% endif %}
            </div>
        </div>
    </div>
