{% extends 'base.html' %}

{% block title %}
    <title>Créer un ticket</title>
{% endblock title %}

{% block content %}
    <div class="create-ticket general-container">
        <h2 class="page-title">Créer un ticket</h2>

        <div class="form-create-ticket">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'reviews/partials/create-ticket-snippet.html'%}
            <button class="create-ticket-btn general-btn" type="submit" >Publier</button>
    </form>
</div>
    </div>

{% endblock content %}