{% extends 'base.html' %}

{% block title %}
    <title>Créer une critique</title>
{% endblock title %}

{% block content %}
    <div class="create-review general-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Créer une critique</h2>

            <div>
                <h4>Livre / Article</h4>

                {% include 'reviews/partials/create-ticket-snippet.html' with form=ticket_form %}
            </div>

            <hr class="separation-bar">

            {% include 'reviews/partials/create-review-snippet.html' with form=review_form %}

            <button class="create-ticket-btn general-btn" type="submit" >Publier</button>
        </form>
    </div>

{% endblock content %}