{% extends 'base.html' %}

{% block title %}
    <title>LITReview - Accueil</title>
{% endblock title %}


{% block content %}
    <!-- Home / Flux -->
    <div class="flux-content">

        <div class="flux-header">
            <h1>LITReview</h1>
            <h3>Bonjour <strong>{{ user.username }}!</strong></h3>

            <div class="flux-btns">
                <a class="general-btn" href="{% url 'create_ticket' %}">Demander une critique</a>
                <a class="general-btn" href="{% url 'create_review' %}">Créer une critique</a>
            </div>
            <h2>Votre flux</h2>
        </div>

        <div class="flux">
            {% if tickets|length_is:"0" %}
                <p>RIEN</p>
            {% else %}
                {% for ticket in tickets %}
                    <div class="flux-ticket">
                        <div class="ticket-head">
                            <div class="ticket-left">
                                <p><strong>{{ ticket.user }} a demandé une critique</strong></p>
                                <p>{{ ticket.title }}</p>
                                <p>{{ ticket.description }}</p>
                                <img class="flux-ticket-img" src="{{ ticket.image.url }}" alt="Couverture - {{ ticket.title }}">
                            </div>
                            <div class="ticket-right">
                                <p>{{ ticket.time_created }}</p>
                                <a class="general-btn reply-btn" href="{% url 'reply' ticket.id %}">Créer une critique</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if reviews|length_is:"0" %}
                <p>RIEN</p>
            {% else %}
                {% for review in reviews %}
                    <div class="flux-review">
                        <div class="review-head">
                            <div class="review-leftt">
                                <p>{{ review.user }} a publié une critique</p>
                                <p>{{ review.headline }} - {{ review.rating }}</p>
                                <p>{{ review.body }}</p>
                            </div>
                            <div class="review-right">
                                <p>{{ review.time_created }}</p>
                            </div>
                        </div>

                        <div class="flux-ticket">
                            <p>Ticket - {{ review.ticket.user }}</p>
                            <p>{{ review.ticket.title }}</p>
                            <p>{{ review.ticket.description }}</p>
                            <img class="flux-ticket-img" src="{{ review.ticket.image.url }}" alt="Couverture - {{ review.ticket.title }}">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}