{% extends 'base.html' %}
{% load litreview_extras %}

{% block title %}
    <title>LITReview - Accueil</title>
{% endblock title %}


{% block content %}
    <!-- Home / Flux -->
    <div class="flux-content general-container">

        <div class="flux-header">
            <h1 class="page-title">LITReview</h1>
            <h3>Bonjour <strong>{{ user.username }}!</strong></h3>

            <div class="flux-btns">
                <a class="general-btn home-create-ticket-btn" href="{% url 'create_ticket' %}">Demander une critique</a>
                <a class="general-btn" href="{% url 'create_review' %}">Créer une critique</a>
            </div>
            <h2>Votre flux</h2>
        </div>

        <div class="flux">
            {% if tickets_and_reviews|length_is:"0" %}
                <p>Vous n'avez pas encore de flux.<br>
                    Suivez vite de nouvelles personnes pour découvrir votre flux! </p>
            {% else %}
                {% for instance in tickets_and_reviews %}
                    <div class="instance">
                        {% if instance|model_type == "Ticket" %}
                            {% include 'reviews/partials/ticket-snippet.html' with ticket=instance %}
                        {% elif instance|model_type == "Review" %}
                            {% include 'reviews/partials/review-snippet.html' with review=instance %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}