{% extends 'base.html' %}
{% load litreview_extras %}

{% block title %}
    <title>LITReview - Accueil</title>
{% endblock title %}


{% block content %}
    <!-- Home / Flux -->
    <div class="flux-content">

        <div class="flux-header">
            <h1>LITReview</h1>
            <h3>Bonjour <strong>{{ user.username }}!</strong></h3>

            <div class="flux-btns">
                <a class="general-btn" href="{% url 'create_ticket' %}">Demander une critique</a>
                <a class="general-btn" href="{% url 'create_review' %}">Créer une critique</a>
            </div>
            <h2>Votre flux</h2>
        </div>

        <div class="flux">
            {% if tickets_and_reviews|length_is:"0" %}
                <p>Vous n'avez pas encore de flux.<br>
                    Suivez vite de nouvelles personnes pour découvrir votre flux! </p>
            {% else %}
                {% for instance in tickets_and_reviews %}

                    {% if instance|model_type == "Ticket" %}
                        {% include 'reviews/partials/ticket-snippet.html' with ticket=instance %}
                    {% elif instance|model_type == "Review" %}

                        <div class="flux-review">
                            <div class="review-head">
                                <div class="review-left">
                                    <p>{{ instance.user }} a publié une critique</p>
                                    <p>
                                        {{ instance.headline }} - {{ instance.rating }}
                                        <i class="fas fa-star star rating"></i>
                                    </p>
                                    <p>{{ instance.body }}
                                    </p>
                                </div>
                                <div class="review-right">
                                    <p>{{ instance.time_created }}</p>
                                </div>
                            </div>

                            <div class="flux-ticket">
                                <p>Ticket - {{ instance.ticket.user }}</p>
                                <p>{{ instance.ticket.title }}</p>
                                <p>{{ instance.ticket.description }}</p>
                                <img class="flux-ticket-img" src="{{ instance.ticket.image.url }}" alt="Couverture - {{ instance.ticket.title }}">
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}