{% extends 'base.html' %}
{% load litreview_extras %}

{% block title %}
    <title>LITReview - Posts de {{ user.username|upper }}</title>
{% endblock title %}

{% block content %}
<!-- Posts content -->
    <div class="posts-content">
    {% if messages %}
      {% for message in messages %}
          <div class="subs-msg-{{ message.tags }}">
            <p>{{ message|safe }}</p>
          </div>
        {% endfor %}
    {% endif %}

        <div class="posts-header">
            <h2>Vos posts</h2>
            <div class="posts">
                {% for instance in tickets_and_reviews %}
                    <div class="posts-instances">
                        {% if instance|model_type == "Ticket" %}
                            {% include 'reviews/partials/ticket-snippet.html' with ticket=instance %}
                            <div class="posts-edit-delete">
                                <a class="general-btn posts-edit-btn" href="{% url 'edit_ticket' instance.id %}">
                                    ✏️  Modifier
                                </a>
                                <form class="subscriptions-button" action="{% url 'delete_ticket' instance.id %}" method="POST">
                                {% csrf_token %}
                                    <button class="general-btn posts-delete-btn" type="submit"
                                            onclick="return confirm('Voulez-vous vraiment supprimer le billet - {{ instance.title }}? -');">
                                        🗑️ Supprimer
                                    </button>
                                </form>

                            </div>

                        {% elif instance|model_type == "Review" %}
                            {% include 'reviews/partials/review-snippet.html' with review=instance %}
                            <div class="posts-edit-delete">
                                <a class="general-btn posts-edit-btn" href="{% url 'edit_review' instance.id %}">
                                    ✏️  Modifier
                                </a>
                                <form class="subscriptions-button" action="{% url 'delete_review' instance.id %}" method="POST">
                                {% csrf_token %}
                                    <button class="general-btn posts-delete-btn" type="submit"
                                            onclick="return confirm('Voulez-vous vraiment supprimer la critique de - {{ instance.ticket.title }}? -');">
                                        🗑️ Supprimer
                                    </button>
                                </form>
                            </div>

                        {% endif %}
                    </div>
                {% empty %}
                    <p>
                        Vous n'avez pas encore de posts.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}