{% extends 'base.html' %}
{% load litreview_extras %}

{% block title %}
    <title>LITReview - Posts de {{ user.username|upper }}</title>
{% endblock title %}

{% block content %}
<!-- Posts content -->
    <div class="posts-content">
    {% if messages %}
      {% for message in messages %}
          <div class="subs-msg-{{ message.tags }}">
            <p>{{ message|safe }}</p>
          </div>
        {% endfor %}
    {% endif %}

        <div class="posts-header general-container">
            <h2>Vos posts</h2>
            <div class="posts">
                {% for instance in tickets_and_reviews %}
                    <div class="instance">
                        {% if instance|model_type == "Ticket" %}
                            {% include 'reviews/partials/ticket-snippet.html' with ticket=instance %}
                        {% elif instance|model_type == "Review" %}
                            {% include 'reviews/partials/review-snippet.html' with review=instance %}
                        {% endif %}
                    </div>
                {% empty %}
                    <p>
                        Vous n'avez pas encore de posts.
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}