{% extends 'base.html' %}

{% block content %}
<div class="reply-content general-container">

    <div class="reply-content-ticket">
        <h2>Créer une critique</h2>
        <p>Vous êtes en train de poster en réponse à</p>

    <!--ticket-->
        {% include 'reviews/partials/ticket-snippet.html' %}
    <!-- end ticket -->
    </div>

    <div class="reply-content-review">
    <!--    review -->
        <form action="" class="reply-form" method="POST">
            {% csrf_token %}
            {% include 'reviews/partials/create-review-snippet.html' with form=review_form %}

            <button class="create-ticket-btn general-btn" type="submit" >Répondre</button>
        </form>
    <!--    end review -->
    </div>

</div>


{% endblock content %}
