{% extends 'base.html' %}

{% block title %}
  <title>Abonnés</title>
{% endblock title %}


{% block content %}
<!-- Subscriptions page -->
    <div class="subs-content general-container">

    <div class="follow-users">
        <h2>Suivre d'autres utilisateurs</h2>

        <form class="follow-users-form" action="{% url 'subscribers' %}" method="POST">

            {% csrf_token %}
            {{ form.as_p }}
          <button class="follow-btn general-btn" type="submit" >S'abonner</button>

        </form>
    </div>

    <div class="subscriptions">
        <h2>Abonnements</h2>
        <div class="subscriptions-results">

            {% if subscriptions|length_is:"0" %}
                <p>Vous ne suivez personne pour l'instant.</p>
            {% else %}
                <ul>
                    {% for sub in subscriptions %}
                    <li>
                        <div class="subscriptions-list">
                            <div class="subscriptions-name">
                                <span>{{ sub.followed_user }}</span>
                            </div>
                            <form class="subscriptions-button" action="{% url 'unsubscribe' sub.id %}" method="POST">
                                {% csrf_token %}
                                <button class="general-btn unfollow-btn" type="submit"
                                        onclick="return confirm('Voulez-vous vraiment vous désabonner de {{ sub.followed_user }}?');">
                                    Se désabonner
                                </button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="subscribers">
        <h2>{{ user.number_of_subscribers }} Abonné{{ user.number_of_subscribers|pluralize }}</h2>
        <div class="subscribers-results">

            {% if subscribers|length_is:"0" %}
                <p>Vous n'êtes suivi par personne pour le moment.</p>
            {% else %}
                <ul>
                    {% for sub in subscribers %}
                        {% if forloop.counter|divisibleby:2 %}
                            <li class="even-subscribers">{{ sub.user }}</li>
                        {% else %}
                            <li class="odd-subscribers">{{ sub.user }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

  </div>

{% endblock content %}