{% extends 'base.html' %}

{% block content %}
    <!-- Login -->
    <div class="login">

        <p>{{ message }}</p>

        <div class="login-content login-registration">
            <p class="login-text">
                Inscrivez-vous maintenant!
            </p>
            <a class="login-btn general-btn" href="{% url 'signup' %}">S'inscrire</a>
        </div>

        <div class="login-content login-form">
            <p class="login-text">
                Connectez-vous
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                <h3 class="input-name">Pseudo</h3>
                {{ form.username }}
                <h3>Mot de Passe</h3>
                {{ form.password }}
                <button class="login-btn general-btn" type="submit">Se connecter</button>
            </form>
        </div>

    </div>

{% endblock content %}