{% extends 'base.html' %}

{% block content %}

    <!-- Change password -->
    <div class="signup-content">
        <h1 class="page-title signup-title">Changez votre mot de passe!</h1>

        <div class="signup general-container">
            <form class="signup-form" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="signup-btn general-btn" type="submit">Changer</button>
            </form>
        </div>
    </div>

{% endblock %}