{% extends 'base.html' %}

{% block meta_description %}
    <meta name="description" content= "Inscrivez-vous au plus vite pour découvrir les plus belles critiques de livres." />
{% endblock meta_description %}
{% block title %}
    <title>LITReviews | Inscription</title>
{% endblock title %}


{% block content %}
    <!-- Signup -->
    <div class="signup-content">

        <h1 class="page-title signup-title">Inscrivez-vous</h1>

        <div class="signup general-container">

            <form class="signup-form" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="signup-btn general-btn" type="submit">S'inscrire</button>
            </form>

        </div>
    </div>

{% endblock %}