/* ------------- Init ------------- */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F1F1F1;
    font-family: lato, arial;
}
button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
}
a {
    color: white;
}


/* ------------- General ------------- */

body {
    background: rgb(250,250,250);
    background: -moz-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 49%, rgba(224,224,224,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 49%, rgba(224,224,224,1) 100%);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(245,245,245,1) 49%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#e0e0e0",GradientType=1); 
}
.general-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #fcfdfe;
    border-radius: 10px;
    box-shadow: black 0px 0px 4px;
}
.page-title {
    font-size: 40px;
}
input {
    height: 40px;
    font-size: 25px;
}
input, textarea {
    background: rgb(250,250,250);
    background: linear-gradient(43deg, rgba(250,250,250,1) 0%, rgba(228,240,243,1) 100%); 
    padding: 1px 6px;
    border: none;
    box-shadow: inset black 2px 2px 3px;
    outline: 0px solid #e2e7e2;
    transition: outline 0.3s ease-in-out, backgrounf 0.2s ease-in
}
input:hover {
    background: linear-gradient(43deg, #f2f2f2 0%, rgb(228,240,243,1) 100%); 
}
input:focus, textarea:focus {
    outline: 5px solid #6ec1eb;
}
.input-name {
    font-size: 25px;
}
.general-btn {
    display: block;
    text-align: center;
    background-color: #283148;
    color: #F1F1F1;
    border: #333 2px solid;
    border-radius: 50px;
    box-shadow: black 2px 2px 1px;
    transition: all 0.15s ease-in;
}
.general-btn:hover{
    background-color: hsl(224, 29%, 32%);
    cursor: pointer;
}
.general-btn:active {
    background-color: hsl(224, 29%, 42%);
    box-shadow: 0px 0px 0px;
    transform: translate(3px, 3px);
}
.errorlist {
    color: red;
}

@media (max-width: 1000px) {
    .general-container {
        width: 99%;
    }
}


/* ------------- Navigation ------------- */

.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    /* position: fixed; */
    /* z-index: 998; */
    border-bottom: 3px black solid;
    background: #6ec1eb;
    background: -moz-linear-gradient(112deg, #6ec1eb 0%, #3dc7d7 53%, #2f368d 100%);
    background: -webkit-linear-gradient(112deg, rgba(110,193,235,1) 0%, rgba(61,199,215,1) 53%, rgba(47,54,141,1) 100%);
    background: linear-gradient(112deg, rgba(110,193,235,1) 0%, #3dc7d7 53%, rgba(47,54,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ec1eb",endColorstr="#2f368d",GradientType=1); 
}
.logo-litreview {
    height: 70%;
    width: auto;
    margin: auto;
    margin-left: 2px;
    filter: drop-shadow(1px 5px #DA0463);
}
.logo-litreview:hover {
    animation: logoAnim 2s ease 0s infinite normal forwards;
}
@keyframes logoAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
nav a {
    text-decoration: none;
    font-size: 20px;
    /* text-transform: uppercase; */
    margin:0 10px;
}
.text-homepage {
    font-size: 50px;
    font-family: "Lustria", cursive;
    font-weight: bold;
    text-shadow: 3px 3px #DA0463;
    color: #333;
    margin: auto;
}
.navbar .logo-link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.container-namelinks {
    display:flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.nav-right li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}
.nav-right a {
    color: #F2F2F2;
    font-size: 22px;
}
.nav-right a:hover {
    color: #1cc81c;
}
.nav-right a:active {
    color: yellowgreen;
}
.nav-right li:hover{
    text-decoration: underline;
    font-size: 1.3em;
    color: #da0463;
}
.nav-right-sub-menu {
    font-size: 15px;
}
.nav-right-sub-menu:hover {
    color: #F8F8F8;
}


/* ------------- Content ------------- */

.content {
    margin: 50px 100px;
}


/* ------------- Login ------------- */

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 50px 0;
}
.login-content {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    margin: 0 auto;
    max-width: 40%;
    transition: all 0.15s ease-in-out;
}
.login-content:hover {
    box-shadow: black 0px 0px 6px;
}
.login-text {
    font-size: 30px;
    margin: 15px 0;
}
.login-btn {
    width: 95%;
    height: 45px;
    margin: 20px 0;
    padding: 9px 10px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    font-family: lato, arial;
}
.login-registration .login-btn {
    background-color: #1cc81c;
}
.login-registration .login-btn:hover {
    background-color: hsl(120, 55%, 45%);
}
.login-btn:active {
    color: yellowgreen;
}
.login-form {
    padding: 5px 20px;
    margin: 0 auto;
}
.login-form h3 {
    margin: 10px 0 5px;
    font-size: 1.5em;
}
.login-form input {
    width: 95%;
    height: 40px;
    font-size: 25px;
}
@media (max-width: 1000px) {
    .login-content {
        min-width: 45%;
        width: 20%;
    }
    .login-text {
        font-size: 25px;
    }
    .login-form h3 {
        font-size: 1.2em;
    }
    .login-btn {
        font-size: 17px;
    }
}


/* ------------- Signup ------------- */

.signup-content {
    min-width: 10%;
    max-width: 75%;
    margin: 50px auto;
    padding: 5px 5px;
}
.signup-title {
    margin: 15px 5px;
}
.signup {
    padding: 10px 5px;
    transition: all 0.15s ease-in-out;
}
.signup-form {
    font-size: 1.3em;
    width: 70%;
    margin: 25px auto;
}
.signup-form input {
    margin: 5px 0;
    padding: 2px 6px;
    transition: outline 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}
.signup-form input:hover {
    box-shadow: inset black 2px 2px 5px;
}
.signup-form input:focus {
    outline: 5px solid #18a918;
}
.signup-form p {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    margin: 15px 0;
}
.signup-content .helptext {
    font-size: 0.8em;
    font-style: italic;
    color: rgb(22, 188, 10);
}
.signup-content .helptext::before {
    content: "\A💡 ";
    white-space: pre;
}
.signup-content ul {
    font-size: 0.8em;
    font-style: italic;
    list-style-type: none;
    margin: 5px 15px;
    padding: 2px 10px;
    color: rgb(22, 188, 10);
}
.signup-content ul > li {
    list-style-type: "-> ";
}
.signup .errorlist {
    color: red;
}
.signup-btn {
    min-width: 25%;
    max-width: 50%;
    margin: 5px 10px;
    padding: 5px 8px;
}


/* ------------- Home / Flux ------------- */

.flux-content {
    background-color: #F8F8F8;
}
.flux-header h1 {
    font-size: 45px;
    margin: 10px 0px 30px;
}
.flux-header h3 {
    margin-bottom: 8px;
}
.flux-btns {
    display: flex;
    font-weight: bold;
    margin: 30px auto;
}
.flux-btns a {
    width: 45%;
    height: 50px;
    margin: 5px auto;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}
.flux {
    border: 4px solid black;
    background-color: #E1E1E1;
    margin: 15px 20px;
    padding: 15px;
}
.home-create-ticket-btn {
    background-color: #d7ceb7;
    color: #283148;
}
.home-create-ticket-btn:hover {
    background-color: #e2d3ab;
}
.instance {
    background-color: #18a918;
    margin: 20px 10px;
    border: solid black 2px;    
}
.flux-date {
    font-style: italic;
}
.ticket-review-title {
    font-size: 25px;
    font-weight: bold;
}
/* ||-- Ticket --|| */
.flux-ticket {
    box-sizing: border-box;
    border: solid black 1px;
    background-color: #F8F8F8F2;
    padding: 15px 20px;
}
.flux-ticket-img {
    width: 25%;
    margin: 10px 0;
}
.ticket-head {
    display: flex;
    justify-content: space-between;
}
.ticket-left {
    width: 80%
}
.ticket-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ticket-right a {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 12px;
    text-decoration: none;
    text-align: center;
}
.ticket-right a:hover {
    color: yellowgreen;
}
/* ||-- Review --|| */
.flux-review {
    box-sizing: border-box;
    border: solid black 1px;
    background-color: #F2F2F2;
    margin: 0;
    padding: 15px 35px 30px;
}
.review-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.review-headline {
    font-size: 22px;
}
.rating {
    color: #E4BB23;
}
.review-ticket-user {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .flux-btns a {
        margin: 5px 10px;
        padding: 4px 0;
        height: 35px;
        font-size: 1.2em;
    }
    .flux-ticket-img {
        width: 45%;
    }
    .ticket-left {
        width: 70%
    }
}

/* ------------- Posts ------------- */

.posts-edit-delete {
    /* background-color: #da0463; */
    display: flex;
    justify-content: end;
    padding: 10px;
}
.posts-edit-btn, .posts-delete-btn {
    height: 65px;
    width: 220px;
    font-size: 20px;
    margin: 2px 5px;
    text-align: center;
    position: relative;
}
.posts-delete-btn {
    background-color: #dc143c;
}
.posts-delete-btn:hover {
    background-color: hsl(348, 63%, 46%);
}
.posts-link-edit {
    display: inline-block;
    /* height: 100%; */
    margin: auto;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 1000px) {
    .posts-edit-btn, .posts-delete-btn {
        width: 170px;
        font-size: 15px;
    }
}


/* ------------- Create Ticket / Review ------------- */

.form-create-ticket {
    padding: 20px 0;
}
.create-ticket-field {
    display: flex;
    flex-direction: column;
    margin: 20px 1px;
}
.create-ticket-field input , .create-ticket-field textarea {
    width: 80%;
    margin: 2px 0;
    font-size: 25px;
}
.create-ticket-btn {
    width: 150px;
    height: 40px;
    font-size: 20px;
}
.create-rating {
    display: flex;
}
.create-rating div {
    display: inline-block;
}
.create-rating div label {
    display: inline-block;
    margin: 1px 65px
}
.create-review-sep {
    width: 100%;
    margin: 30px auto;
}

/* ------------- Reply ------------- */

.reply-content-ticket {
    margin-bottom: 50px;
}
.reply-content-ticket p {
    margin: 15px 0;
}



/* ------------- Subscriptions page ------------- */

.subs-content {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
.subs-content h2 {
    background: rgb(47,54,141);
    background: -moz-linear-gradient(112deg, rgba(47,54,141,1) 0%, rgba(61,199,215,1) 35%, rgba(110,193,235,1) 100%);
    background: -webkit-linear-gradient(112deg, rgba(47,54,141,1) 0%, rgba(61,199,215,1) 35%, rgba(110,193,235,1) 100%);
    background: linear-gradient(112deg, rgba(47,54,141,1) 0%, rgba(61,199,215,1) 35%, rgba(110,193,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f368d",endColorstr="#6ec1eb",GradientType=1);  
    /* color: #DA0463; */
    text-align: center;
    font-size: 1.2em;
    margin: 2px auto 15px;
}

.subs-msg-success {
    font-style: italic;
    margin: 10px 0;
}
.subs-msg-success p {
    display: inline;
    padding: 10px 6px;
    color: rgb(3, 79, 3);
    background:linear-gradient(-45deg, rgba(115, 255, 50, 0.4), rgb(127, 255, 0));
}
.subs-msg-error {
    font-style: italic;
    margin: 10px 0;
}
.subs-msg-error p {
    display: inline;
    padding: 10px 6px;
    color: rgb(54, 3, 3);
    background:linear-gradient(-45deg, rgba(255, 64, 50, 0.4), rgb(219, 130, 127));
}

.follow-users {
    width: 95%;
    margin: 5px auto 70px;
    padding: 1px 5px;
}
.follow-users-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 3px;
    padding: 10px 2px;
}
.follow-users-form p {
    width: 70%;
}
.follow-users-form label {
    visibility: hidden;
    position: absolute;
}
.follow-users-form input {
    height: 100%;
    font-size: 1.1em;
    width: 100%;
    border: none;
    box-shadow: inset -2px -2px 2px black;
    transition: all 0.3s ease-in-out;
}
.follow-users-form input:focus {
    /* background-color: #333; */
    /* color: #F1F1F1; */
    width: 101%;
    box-shadow: inset -3px -3px 2px black;
}
.follow-btn{
    margin-right: 15px;
    margin-left: 5px;
    padding: 2px 30px;
}

.subscriptions {
    width: 95%;
    margin: 5px auto 70px;
    padding: 1px 5px;
}
.subscriptions-results li {
    list-style: none;
    margin: 2px auto;
    padding: 4px 3px;
}
.subscriptions-list {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.subscriptions-name {
    width: 100%;
    border: solid 2px black;
    position: relative;
    padding: 0 5px;
}
.subscriptions-name span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.unfollow-btn {
    width: 100%;
    min-width: 230px;
    height: 100%;
    background-color: #dc143c;
    padding: 2px 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.unfollow-btn:hover {
    background-color: hsl(348, 63%, 46%);
}
.subscribers {
    width: 95%;
    margin: 5px auto 50px;
    padding: 1px 5px;
}
.subscribers-results li {
    list-style: none;
    margin: 2px auto;
    padding: 6px 5px;
}
.even-subscribers {
    background-color: #cff0f9;
}
@media (max-width: 900px) {
    .unfollow-btn {
        min-width: 190px;
        font-size: 19px;
    }
}